# General dependencies
numpy
pandas
matplotlib
seaborn
scipy

# Stochastic Programming
cvxpy

# Linear Programming
pulp

# Graph Theory and Network Analysis
networkx
python-louvain  # Community detection (Louvain method)